page-sign-up {
    
    ion-content {
        background: #ecf0f1;
        background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ecf0f1 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #ecf0f1));
        background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ecf0f1 100%);
        background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ecf0f1 100%);
        background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ecf0f1 100%);
        background: radial-gradient(ellipse at center, #ffffff 0%, #ecf0f1 100%);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-size: cover;
        background-position-x: 50%;

        
      }
      .bar-buttons,
      .toolbar-title {
        margin: 0 0 0 0;
      }
    
    .logo {
        width: 33%;
        height: auto;
        margin: 50px auto;
    }

    h1 {
        font-size: 50px;
        color: #2b2b2b;
        margin: 50px auto;
      }
    
    ion-row {
        align-items: center;
        text-align: center;
    }
    
    ion-item {
        border-radius: 10px !important;
        padding-left: 10px !important;
        margin-bottom: 5px;
        background-color: #f6f6f6;
        opacity: 0.8;
        font-size: 0.9em;
    }

    ion-list {
        margin: 0;
    }

    .login-button {
        width: 100%;
        border-radius: 10px;
        font-size: 1em;
        background-color: #4E8DF7;
    }

    .checkbox input, .checkbox-icon {
        display: inline-block;
        vertical-align: middle;
      }
  

}
